@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-overlay-0\.5 {
    background: rgba(75, 85, 99, 0.5);
}

.bg-overlay-0\.8 {
    background: rgba(75, 85, 99, 0.8);
}

// text colors
.text-primary-color {
    color: $primary-color;
}

.text-secondary-color {
    color: $secondary-color;
}

// background colors
.bg-primary-color {
    color: $primary-color;
}

.bg-secondary-color {
    background: $secondary-color;
}
