$primary-color: #A855F7;
$secondary-color: #06B6D4;
$surface-color: #404040;
$background-color: #35495e;

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    surfaceColor: $surface-color;
    backgroundColor: $background-color;
}
